$background: #0D6CFF;

@mixin formBorder{
  border-radius: 10px;

}
nav{
  .container-fluid{
    background-color: rgba(255,255,255,.3) !important; 
  }
}

.jumbotron{
  margin: 0;
  background-image: url(http://i.istockimg.com/image-zoom/66184659/3/380/266/stock-photo-66184659-african-kids-ghana.jpg);
  background-size: cover;
  height: 600px;
  .container{
    background-color: rgba(0,0,0,.3);
    color: white !important;
  }
}

#email-div{
  background-image: url(http://thumb7.shutterstock.com/display_pic_with_logo/743638/134989679/stock-photo-cute-himba-boy-portrait-namibia-134989679.jpg);
  background-size: cover;
  height: 500px;
  .container-fluid{
    padding: 30px;
    background-color: $background;
    opacity: .6;
    height: 500px;
  }
}

.panel, .panel-heading{
  @include formBorder;
}

.info-div{
  margin-top: 20px;
  padding: 5px;
  a{
    text-decoration: none;
    color: black;
  }
}